.navbar {
    height: 100vh;
}

.navbar-nav {
    flex-direction: column;
    align-items: flex-start;
}

.footer {
  background-color: #201919; /* Warna gelap, sesuaikan dengan selera Anda */
  color: #ffffff; /* Warna teks putih */
  text-align: center; /* Rata tengah */
  padding-bottom: 90px;
}
.content-section {
  display: none;
  padding: 20px;
}

.content-section:first-child {  /* Tampilkan konten pertama secara default */
  display: block;
}